<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin page</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/adminStyle.css}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/semantic.min.css}"/>
</head>

<body>
<div class="ui top fixed menu">
    <a class="item" th:href="@{/employee/}">
        <img th:src="@{/resources/images/icon.png}">
    </a>
    <a id="tasks" class="item" th:href="@{/employee/mytasks}">Tasks</a>
    <a id="requests" class="active item">Time Requests</a>
    <a id="ptasks" class="item" th:href="@{/employee/props}">Proposed tasks</a>
    <form class="item ui button" th:action="@{/logout}" method="post">
        <button class="linkButton" type="submit">Logout</button>
    </form>
</div>
<div class="ui main text container">
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Project name</th>
            <th>Task name</th>
            <th>Require time</th>
            <th>Confirmed</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="req:${requires}" >
            <td th:text="${req.taskByTaskId.sprintBySprintId.projectByProjectId.projectName}"></td>
            <td th:text="${req.taskByTaskId.taskName}"></td>
            <td th:text="${req.timeAmountHours}"></td>
            <td th:if="${req.confirmed}">Yes</td>
            <td th:unless="${req.confirmed}">No</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/resources/js/uiscript.js}"></script>
</div>
</body>
</html>